<h1>Comentarios denunciados</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Contenido</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @denounced_comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.description %></td>
        <td><%= comment.likes %></td>
        <td><%= comment.dislikes %></td>
        <td><%= button_to 'Restaurar', "comments/#{comment.id}/edit", method: :put %></td>
        <td><%= link_to raw(('<i class="fa fa-fw fa-trash-o"></i>')+' Eliminar') , "comments/#{comment.id}", method: :delete, data: { confirm: "Estas seguro de borrar este comentario?"}, class: "btn btn-xs btn-danger", style: "color:#fff"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
