<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @comment.description %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @comment.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @comment.dislikes %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to raw(('<i class="fa fa-fw fa-arrow-circle-left"></i>')+' Volver'), :back, class: "btn btn-sm btn-primary", style: "color:#fff" %>
