<div style="margin: 150px calc(50% - 90px)">
  <h2>Iniciar Sesi칩n</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label "Email" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label "Contrase침a" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    
    <%= link_to image_tag("facebook-logo.png", size: "40x40", title: "Iniciar sesi칩n con facebook", id: "loginface"), root_path %>
    <%= link_to image_tag("google-logo.png", size: "40x40", title: "Iniciar sesi칩n con facebook", id: "loginface"), root_path %>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "Recordarme" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Entrar" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>