<h1>Banear Usuario por Email</h1>

<%#= render 'form' %>
<%= form_tag("/banned_users", method: "post") do %>
  <div class="field">
    <%= label_tag "Email " %>
    <%= text_field_tag "banned_user[email]" %><br>
  </div>

  <div class="actions">
    <%= submit_tag "Banear", class: "btn btn-sm btn-success" %>
  </div>
<% end %>

<br>
<%= link_to raw(('<i class="fa fa-fw fa-arrow-circle-left"></i>')+' Volver'), :back, class: "btn btn-sm btn-primary", style: "color:#fff" %>
