<style>
  a:visited {
    color: #b9b7b7;
  }
</style>

<h1>Lista Completa de Notificaciones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipo de Notificación</th>
      <th>Contenido</th>
      <th style="text-align: center;">Visto</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_notifications.each do |notification| %>
      <tr>
        <% if notification.from_type == "comment"%>
          <td>Commentario denunciado</td>
          <% comentario = Comment.find_by_id(notification.from_id) %>
          <td><%= comentario.title %></td>
        <% elsif notification.from_type == "product"%>
          <td>Producto denunciado</td>
          <% producto = Product.find_by_id(notification.from_id) %>
          <td><%= producto.name %></td>
        <% elsif notification.from_type == "suggest"%>
          <td>Producto sugerido</td>
          <% producto = Product.find_by_id(notification.from_id) %>
          <td><%= producto.name %></td>
        <% elsif notification.from_type == "contact"%>
          <td>Contactanos</td>
          <% usuario = User.find_by_id(notification.from_id) %>
          <td><%= notification.message.split(":")[0] %> | <%= usuario.email %></td>
        <% end %>

        <% if notification.readed %>
          <td style="text-align: center;"><span class="label label-success"><i class="fa fa-fw fa-check"></i></span></td>
        <% else%>
          <td style="text-align: center;"><span class="label label-danger"><i class="fa fa-fw fa-times"></i></span></td>
        <% end %>

        <% if notification.from_type == "comment"%>
          <td><%= button_to 'Ver', "/comments/#{comentario.id}", method: :get %></td>
        <% elsif notification.from_type == "product" or notification.from_type == "suggest"%>
          <td><%= button_to 'Ver', "/products/#{producto.id}", method: :get %></td>
        <% elsif notification.from_type == "contact"%>
          <td><%= button_to 'Ver', notification, method: :get %></td>
        <% end %>
        <!-- <td><%#= link_to 'Eliminar', notification, method: :delete, data: { confirm: 'Estas seguro que deseas eliminar la notificacion?' } %></td> -->
        <td><%= link_to raw(('<i class="fa fa-fw fa-trash-o"></i>')+' Eliminar notificacion'), notification, method: :delete, data: { confirm: '¿Estas seguro que desaeas eliminar esta notificacion?' }, class: "btn btn-xs btn-danger", style: "color:#fff" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <td><%#= link_to 'Edit', edit_notification_path(notification) %></td> -->
