<p id="notice"><%= notice %></p>

<p>
  <strong>From type:</strong>
  <%= @notification.from_type %>
</p>

<p>
  <strong>From:</strong>
  <%= @notification.from_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to raw(('<i class="fa fa-fw fa-arrow-circle-left"></i>')+' Volver'), :back, class: "btn btn-sm btn-primary", style: "color:#fff" %>
