<%= form_for(@intolerance) do |f| %>
  <% if @intolerance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intolerance.errors.count, "error") %> prohibited this intolerance from being saved:</h2>

      <ul>
      <% @intolerance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :minor_symptom %><br>
    <%= f.text_area :minor_symptom %>
  </div>
  <div class="field">
    <%= f.label :medium_symptom %><br>
    <%= f.text_area :medium_symptom %>
  </div>
  <div class="field">
    <%= f.label :major_symptom %><br>
    <%= f.text_area :major_symptom %>
  </div>
  <div class="field">
    <%= f.label :key_component %><br>
    <%= f.text_field :key_component %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
