<h2>Editar Producto</h2>

<%= form_for @product, url: "/products/#{@product.id}/editar", html: {method: "put", class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= label_tag "","Nombre", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag "","Código de Barra", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.number_field :id, class: "form-control", max: "9999999999999999" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag "","Ingredientes", class: "control-label col-sm-2"%>
    <div class="col-sm-10">
      <%= f.text_area :ingredients, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag "","Link de la Imagen:", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= text_field_tag :url, "", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag "","Denuncias", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :denounced, class: "form-control" %>
    </div>
  </div>
  <%= f.submit "Editar", class: "btn btn-primary" %>
<% end %><br><br>



<h2>Editar Intolerancias</h2>
<div style="text-align: center;">
  <table class="table" style="width: auto;" align="left">
    <thead>
      <tr>
        <th>Intolerancias</th>
        <th></th>
      </tr>
    </thead>
    <% if @product.intolerances != [] %>
    	<% @product.intolerances.each do |intolerancia| %>
    	  <tr>
    		  <td><%= intolerancia.name %></td>
          <td><%= link_to raw(('<i class="fa fa-fw fa-trash-o"></i>')+' Eliminar'), "/products/intolerance?product_id=#{@product.id}&intolerance_id=#{intolerancia.id}", method: :delete, data: { confirm: '¿Estas seguro de desligar esta intolrancia del producto?' }, class: "btn btn-xs btn-danger", style: "color:#fff" %></td>
    		</tr>
      <% end %>
    <% else %>
      <tr>
        <td><i style="margin-left: 20px;">Este producto no posee intolerancias registradas</i></td>
      </tr>
    <% end %>
    <tr>
      <td>
        <button data-toggle="modal" class="btn btn-default btn-sm" data-target="#intolerancia-modal" type="button">
          <i class="fa fa-fw fa-plus-circle"></i> Agregar una intolerancia
        </button>
      </td>
    </tr>
  </table>
</div>

<div class="col-xs-12">
  <%= link_to raw(('<i class="fa fa-fw fa-arrow-circle-left"></i>')+' Volver'), "/products/#{@product.id}", class: "btn btn-sm btn-primary", style: "color:#fff" %>
   <br>&nbsp;
</div>

  <!-- Modal Nueva Intolerancia-->
  <div class="modal fade" id="intolerancia-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Agregar nuevas intolerancias</h4>
        </div>
        <div class="modal-body">
          <!-- <form class="form-horizontal"> -->
          <%= form_tag "/products/intolerance", method: "post", class: "form-horizontal", id: "add-intolerance" do %>
            <%= hidden_field_tag(:product_id, @product.id ) %>
            <div class="form-group">
              <label for="intolerance_id" class="col-sm-2 control-label">Intolerancia</label>
              <div class="col-sm-10">
                <select form="add-intolerance" name="intolerance_id" class="form-control select-intolerance">
                  <option value="1">Lactosa</option>
                  <option value="2">Gluten</option>
                  <option value="3">Maní</option>
                  <option value="4">Nueces</option>
                  <option value="5">Apio</option>
                  <option value="6">Mostaza</option>
                  <option value="7">Huevo</option>
                  <option value="8">Sésamo</option>
                  <option value="9">Pescado</option>
                  <option value="10">Crustaceos</option>
                  <option value="11">Mariscos</option>
                  <option value="12">Soya</option>
                  <option value="13">Sulfitos</option>
                  <option value="14">Lupino</option>
                </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button> -->
            <!-- <button type="submit" class="btn btn-primary"> Agregar </button> -->
            <%= submit_tag("Agregar", class: "btn btn-primary") %>
        </div>
          <% end %>
      </div>
    </div>
  </div>