<style>
  a:visited {
    color: #b9b7b7;
  }
</style>

<h1>Lista de Productos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Producto</th>
      <th style="text-align: center;">Likes</th>
      <th style="text-align: center;">Denuncias</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td style="text-align: center;"><%= product.likes %></td>
        <td style="text-align: center;"><%= product.denounced %></td>
        <td><%= button_to 'Ver', "/products/#{product.id}", method: :get, class: "btn btn-sm btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h4>
  <%= will_paginate @products, previous_label: 'Pagina Anterior', next_label: 'Pagina Siguiente', class: "label label-default", style: 'color:#000', link_separator: " &nbsp;" %>
</h4>

<br>
<%= link_to raw(('<i class="fa fa-fw fa-plus-circle"></i>')+' Agregar un nuevo producto'), new_product_path, class: "btn btn-sm btn-primary", style: 'color:#fff' %>
