<h3>
  <%= image_tag @product.image.url(:medium) %>
  <strong>Producto:</strong>
  <%= @product.name %><br>
</h3><br>
<p>
  <strong>Likes:</strong>
  <%= @product.likes %> &nbsp;
  <strong>Denuncias:</strong>
  <%= @product.denounced %><br><br>

	<h4>
	  <strong>Ingredientes:</strong>
	</h4>
  <%= @product.ingredients %>

	<h4>
	  <strong>Intolerancias:</strong>
	</h4>
	<% if @product.intolerances != [] %>
		<ul>
		<% @product.intolerances.each do |intolerancia| %>
			<li> <%= intolerancia.name %> </li>
		<% end %>

		</ul>
	<% else %>
		<i style="margin-left: 10px;">Este producto no posee intolerancias registradas</i>
	<% end %>
</p>

<br>


<%= link_to raw(('<i class="fa fa-fw fa-edit"></i>')+' Editar'), edit_product_path(@product), class: "btn btn-xs btn-primary", style: "color:#fff" %>
<%= link_to raw(('<i class="fa fa-fw fa-trash-o"></i>')+' Eliminar'), "/products/#{@product.id}", method: :delete, data: { confirm: '¿Estas seguro que desaeas eliminar este producto?' }, class: "btn btn-xs btn-danger", style: "color:#fff" %>

<br><br>
<%= link_to raw(('<i class="fa fa-fw fa-arrow-circle-left"></i>')+' Volver'), '/products/page/1' , class: "btn btn-sm btn-primary", style: "color:#fff" %>