<!DOCTYPE html>
<html>
<head>
	<title>PuedoComerlo</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
</head>
<body>

<p id="notice"><%= notice %></p>

<%if user_signed_in?%>
	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" href="index.html">SB Admin</a> -->
				<%= link_to 'Administrador', root_path, class: "navbar-brand" %><br>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				
				<!-- mensajes de contactanos -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
					<ul class="dropdown-menu message-dropdown">
						<% Notification.where(readed: false, from_type: 2).each do |notificacion| %>

							<%# if notificacion.from_type=="contact" %>
								<li class="message-preview">
									<%= link_to(raw((''+
										'<div class="media">'+
											'<div class="media-body">'+
												'<h5 class="media-heading"><strong>')+"#{notificacion.message.split(':')[0]}"+('</strong>'+
												'</h5>'+
												'<p class="small text-muted"><i class="fa fa-clock-o"></i>')+"#{notificacion.created_at}"+('</p>'+
												'<p>')+"#{notificacion.message.split(':')[1][0...15]}..."+('</p>'+
											'</div>'+
										'</div>')), "/notifications/#{notificacion.id}") %>
								</li>
							<%# end %>

						<% end %>
						<li class="message-footer">
							<!-- <a href="#">Read All New Messages</a> -->
							<%= link_to('Ver todos los mensajes nuevos', notifications_path) %>
						</li>
					</ul>
				</li>

				<!-- notificaciones de productos denunciados -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Notificaciones"><i class="fa fa-bell"></i> <b class="caret"></b></a>
					<ul class="dropdown-menu alert-dropdown">
						<% Notification.where(readed: false).each do |notificacion| %>

							<% if notificacion.from_type=="comment" %>
								<% comentario = Comment.find(notificacion.from_id) %>
								<% if comentario.dislikes > 10 %>
									<li>
										<%= link_to raw("Comentario: #{comentario.title} "+('<span class="label label-danger">'+"Dislikes: #{comentario.dislikes}"+'</span>')), "/comments/#{comentario.id}" %>
									</li>
								<% else %>
									<li>
										<%= link_to raw("Comentario: #{comentario.title} "+('<span class="label label-warning">'+"Dislikes: #{comentario.dislikes}"+'</span>')), "/comments/#{comentario.id}" %>
									</li>
								<% end %>

							<% elsif notificacion.from_type=="product" %>
								<% producto = Product.find(notificacion.from_id) %>
								<% if producto.denounced > 10 %>
									<li>
										<%= link_to raw("Producto: #{producto.name} "+('<span class="label label-danger">'+"Denuncias: #{producto.denounced}"+'</span>')), "/products/#{producto.id}" %>
									</li>
								<% else %>
									<li>
										<%= link_to raw("Producto: #{producto.name} "+('<span class="label label-warning">'+"Denuncias: #{producto.denounced}"+'</span>')), "/products/#{producto.id}" %>
									</li>
								<% end %>

							<% end %>
						<% end %>
						<li class="divider"></li>
						<li>
							<!-- <a href="#">View All</a> -->
							<%= link_to('Ver todas', notifications_path) %>
						</li>
					</ul>
				</li>

				<!-- perfil -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li>
							<!-- <a href="#"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a> -->
							<%= link_to(raw(('<i class="fa fa-fw fa-power-off"></i>')+' Cerrar Sesión'), destroy_user_session_path, method: :delete, data: { confirm: '¿Deseas Cerrar Sesión?' }) %>
						</li>
					</ul>
				</li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li class="active">
					<!-- <li> -->
						<!-- <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a> -->
						<%= link_to(raw(('<i class="fa fa-fw fa-dashboard"></i>')+' Pagina principal'), root_path) %>
					</li>
					<li>
						<!-- <a href="charts.html"><i class="fa fa-fw fa-edit"></i> Charts</a> -->
						<%= link_to(raw(('<i class="fa fa-fw fa-edit"></i>')+' Productos denunciados'), denounced_products_path) %>
					</li>
					<!-- <li> -->
						<!-- <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a> -->
						<%#= link_to(raw(('<i class="fa fa-fw fa-edit"></i>')+' Productos denunciados'), notifications_path) %>
					<!-- </li> -->
					<!-- <li>
						<a href="forms.html"><i class="fa fa-fw fa-bar-chart-o"></i> Forms</a>
					</li>
					<li>
						<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
					</li>
					<li>
						<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
					</li>
					<li>
						<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
						<ul id="demo" class="collapse">
							<li>
								<a href="#">Dropdown Item</a>
							</li>
							<li>
								<a href="#">Dropdown Item</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
					</li>
					<li>
						<a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
					</li> -->
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">
			<%= yield %>
		</div>
		<!-- /#page-wrapper -->
	</div>
<% elsif request.original_fullpath.include?("sign") %>
	<%= yield %>
<% else %>
	<br><h2>No estas logeado</h2>
	<%= link_to 'Entrar', root_path %><br>
<% end %>


</body>
</html>
