<style>
  a:visited {
    color: #b9b7b7;
  }
</style>

<h1>Lista de Usuarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombre de usuario</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= button_to 'Ver', "/user/#{user.id}", method: :get %></td>
        <% if user.admin %>
          <td><span class="label label-success"> Admin </span></td>
        <% else %>
          <td><%= link_to raw(('<i class="fa fa-fw fa-trash-o"></i>')+' Eliminar'), "/user/#{user.id}", method: :delete, data: { confirm: '¿Estas seguro que deseas eliminar este usuario?' }, class: "btn btn-xs btn-danger", style: "color:#fff" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<h4>
  <%= will_paginate @users, previous_label: 'Pagina Anterior', next_label: 'Pagina Siguiente', class: "label label-default", style: 'color:#000', link_separator: " &nbsp;" %>
</h4>
